{{!-- views/dashboard.handlebars --}}
{{> header }}

<h1>Dashboard</h1>

{{#if posts.length}}
  <div>
    {{#each posts}}
      <div>
        <h3>{{this.title}}</h3>
        <p>{{this.content}}</p>
        <!-- Display image if imageUrl is present -->

        {{#if this.imageUrl}}
          <img src="{{this.imageUrl}}" alt="Post Image">
        {{/if}}
        {{#if this.url}}
          <a href="{{this.url}}">Link to More Info</a>
        {{/if}}

        <!-- Buttons or links for editing and deleting posts -->
        <a href="/posts/edit/{{this.id}}">Edit</a> |
        <form action="/posts/delete/{{this.id}}" method="POST" style="display: inline;">
          <button type="submit">Delete</button>
        </form>
      </div>
    {{/each}}
  </div>
{{else}}
  <p>You have no posts yet. Start by creating one!</p>
{{/if}}

<a href="/posts/new">Create New Post</a>

{{> footer }}
